[workspace]
members = ["acube", "acube-macros", "cargo-acube", "benchmarks/performance"]
exclude = ["todo-app/backend"]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "MIT"
